body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#entities-container {
    margin: 0px 0;
    height: calc(100vh - 350px);
    min-height: 200px;
    overflow: auto;
    padding: 10px 10px;
}

.button-container
{
    padding: 10px 10px 0px 10px;
}

button {
    padding: 5px 12px;
    margin-bottom: 5px;
    cursor: pointer;
}

input[type="text"],
select {
    padding: 5px 10px;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #333333;
}

#editor-form {
    margin-top: 5px;
    padding: 10px ;
    border-top: 1px solid #DDD;

    h3 {
        margin: 0;
    }

    .table-container
    {
        max-height: 180px;
        overflow: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
        thead {
            background-color: #f1f1f1; 
            border: 1px solid #ccc;

          }
          

        th {
            border: 1px solid #ccc;
            position: sticky;
            top: 0;
            background-color: #f1f1f1;
            padding: 8px;
            text-align: left;
            z-index: 2; 

            &.column-action {
                text-align: center;
                font-size: 11px;
            }
            &::before{
                content: "";
                width: 100%;
                display: block;
                position: absolute;
                height: 1px;
                background-color: #ccc;
                top: -1px;
                left: 0px;
            }
        }

        td {
            border: 1px solid #ccc;
            padding: 0px;
            text-align: left;
            font-size: 8px;

            &.column-action {
                text-align: center;

                button {

                    font-size: 11px;
                }
            }

            input[type="text"],
            select {
                display: block;
                margin: 0;
                border: none;
                width: 100%;
                box-sizing: border-box;
                padding: 1px 8px;
            }

            input[type="text"]:focus-visible,
            select:focus-visible {
                outline: none;
            }

            button {
                padding: 0;
                border: none;
                background-color: transparent;

            }
        }
    }
}

input[type="checkbox"] {
    margin: 0 5px;
}

.entity {
    display: inline-block;
    min-width: 160px;
    border: 1px solid #DDDDDD;
    vertical-align: top;
    margin-right: 16px;
    padding: 0;
    background-color: #FCFCFC;

    .entity-header {
        background-color: #EEEEEE;
        button{
            float: right;
            width: 16px;
            height: 16px;
            border: none;
            background-color: transparent;
            font-size: 11px;
            padding: 2px;
            margin-right: 6px;
            margin-top: 2px;
        }
        h4 {
            margin: 0;
            padding: 5px 50px 5px 10px;
            border-bottom: 1px solid #DDDDDD;
        }
    }

    

    .entity-body ul {
        list-style-type: none;
        margin: 0;
        padding: 0px 0px;
    }

    .entity-body ul li {
        padding: 4px 10px;
        border-bottom: 1px solid #DDDDDD;
    }
    .entity-body ul li:last-child{
        border-bottom: none;
    }

    .entity-footer {
        padding: 5px 10px;
        display: none;
    }

    .entity-footer button {
        margin-bottom: 0;
    }
}